<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560547506718-8kmd4oitg3k58qrrbr2rcuunvqs0b6uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560547506718-8kmd4oitg3k58qrrbr2rcuunvqs0b6uc</string>
	<key>API_KEY</key>
	<string>AIzaSyCoAMVdlxP3cpz09YWPnczw8vpR7f3nkMU</string>
	<key>GCM_SENDER_ID</key>
	<string>560547506718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ClcStudio.NewOrderOoO</string>
	<key>PROJECT_ID</key>
	<string>neworderooo</string>
	<key>STORAGE_BUCKET</key>
	<string>neworderooo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560547506718:ios:b4a114b6f43de7d33d5c0f</string>
</dict>
</plist>